$primary: #9b59b6;

@import "../../node_modules/bulma/bulma.sass";

.is-full-width {
  width: 100%;
}

.has-padding {
  &-top {
    padding-top: 0.75rem;
  }
}

@media screen and (max-width: $desktop) {
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .nav {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
