ux-dialog-container,
ux-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ux-dialog-overlay {
  opacity: 0;
  background-color: #000;
  &.active {
    opacity: 0.86;
  }
}

ux-dialog-container {
  outline: 0;
  display: flex;
  transition: opacity .2s linear;
  opacity: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  &.active {
    opacity: 1;
  }
  >div {
    outline: 0;
    padding: 30px;
    width: 100%;
    >div {
      @extend .modal-card;
      
      @media screen and (max-width: $tablet) {
        margin: 0;
      }
    }
  }
}

ux-dialog {
  @extend .modal-card;
  margin: 0;

  >ux-dialog-header {
    @extend .modal-card-head;

    .dialog-header-content {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      flex-grow: 1;
      justify-content: flex-start;
      position: relative;

      .dialog-close {
        @extend .modal-close;
      }
    }
  }
  >ux-dialog-body {
    @extend .modal-card-body;
  }
  >ux-dialog-footer {
    @extend .modal-card-foot;
  }
}

.ux-dialog-small {
  max-width: 400px;
}
.ux-dialog-medium {
  max-width: 800px;
}
.ux-dialog-large {
  max-width: 1000px;
}

.ux-dialog-open {
  overflow: hidden;
}
