<template>
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-fw fa-user-circle"></i>
            </span>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-fw fa-lock"></i>
            </span>
            <input type="password" class="form-control">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
