<template>
    <nav class="navbar navbar-default navbar-main">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><i class="fa fa-fw fa-paper-plane"></i></a>
            </div>
            <ul if.bind="authenticated" class="nav navbar-nav navbar-right">
                <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                    <a href.bind="row.href">${row.title}</a>
                </li>
                <li>
                    <a href="#/login">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</template>
